/*
	JavaScript Profiler 2.0
	Copyright 2000 - 2008. All Rights Reserved.
	Author: Stephen W. Cote
	Email: sw.cote@gmail.com
	Project: http://www.whitefrost.com/documents/html/technical/dhtml/jsprof.html
	License: http://www.whitefrost.com/projects/engine/code/engine.license.txt
*/
/*
TD{
	padding: 2px;
	font-size: 8pt;
	font-family: Arial;
}
*/
TD.lbl{
	width: 50px;
}
TD.cmd{
	padding-left: 4px;
}


div.title{
	padding-top: 5px;
	padding-left: 5px;
	font: 10pt Arial;
	display: block;
	border-bottom: 1px dotted #505050;
	margin-bottom: 10px;
	color: #505050;
}
TEXTAREA.proto{
	font: 8pt Courier New;
	width: 100%;
	height: 125px;
	border: 1px inset #CFCFCF;
	overflow: auto;
	background-color: #EFEFEF;
	color: #000000;
}
TEXTAREA.ActiveSource
{
	font: 8pt Arial;
	width: 575px;
	height: 200px;
	overflow:auto;
	margin:0px;
	border: 1px inset #CFCFCF;
}
input.cmdBtn{
	font: normal 8pt Arial;
	height: 20px;

}