div.test_suite_results
{
	height: 100px;
	overflow:auto;
	background-color: #FFFFFF;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #AAAADD;
	padding: 10px;
	-moz-box-shadow: 5px 5px 3px #CFCFCF;
	moz-box-shadow: 5px 5px 3px #CFCFCF;
	padding: 5px 5px 5px 15px;
	margin: 0px 10px 5px 10px;
}
p.test_status
{
	background-color: #FFFFFF;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #AAAADD;
	padding: 10px;
	-moz-box-shadow: 5px 5px 3px #CFCFCF;
	box-shadow: 5px 5px 3px #CFCFCF;
	padding: 2px 0px 2px 0px;
	margin: 0px 10px 5px 10px;
}
p.test_status input
{
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #AAAADD;

}
span.test_label 
{
	width:120px;
	margin-left:5px;
	margin-right:5px;
	font: normal 10pt Arial;
}
div.test_box input
{
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border: 1px solid #AAAADD;
	margin:0px;
	height:18px;
}
div.test_box img
{
	margin-top:0px;
}
div.test_box
{
	/*
   	filter : Alpha(Opacity=75);
	opacity : .75; 
	*/
	z-index:30;
	position:absolute;
	width:250px;
	height:24px;
	background-color: #FFFFFF;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #AAAADD;
	padding: 10px;
	-moz-box-shadow: 5px 5px 3px #CFCFCF;
	box-shadow: 5px 5px 3px #CFCFCF;
	padding: 0px 0px 0px 5px;
	margin: 0px;
}
