/* Tree */
ul.tree
{
	border:0px solid #000000;
	list-style:none;
	list-style-position:inside;
	margin:0px;
	padding:0px;
}
ul.tree li 
{
	margin:0px 0px 0px 16px;
	color: #000000;
	/*font: normal 10px Arial;*/
	line-height:0px;
}
ul.tree > li > a 
{
	text-decoration: none;
	color: inherit;
	margin:0px;
	padding:0px;
}
ul.tree > li > a:focus
{
	outline:none;
}
ul.tree > li.branch_empty
{
	list-style-image: url(../Graphics/Tree/linkNext_ico.gif);
}
ul.tree > li.branch_empty:last-child
{
	list-style-image: url(../Graphics/Tree/linkLast_ico.gif);
}
ul.tree > li.branch_close
{
	list-style-image: url(../Graphics/Tree/folderExpand_ico.gif);
}

ul.tree > li.branch_close:first-child
{
	/*list-style-image: url(../Graphics/Icons/windows/16x16/folder_closed.png);*/
	list-style-image: url(../Graphics/Tree/folderExpandTop_ico.gif);
}
ul.tree > li.branch_close > a
{
	padding-left:16px;
	background:url(../Graphics/Icons/windows/16x16/folder_closed.png) no-repeat;
}
ul.tree > li.branch_empty > a
{
	padding-left:16px;
	background:url(../Graphics/Icons/windows/16x16/folder_closed.png) no-repeat;
}
ul.tree li.deny_read
{
	color: #FF0000;
}
li.branch_close > ul.tree
{
	display:none;
}
ul.tree li.branch_lock
{
	list-style-image: url(../Graphics/Tree/folderExpand_ico.gif);
}
ul.tree li.branch_lock > a
{
	padding-left:16px;
	background:url(../Graphics/Icons/windows/16x16/lock.png) no-repeat;
}
ul.tree li.branch_open
{
	list-style-image: url(../Graphics/Tree/folderCollapse_ico.gif);
}
ul.tree li a.branch_selected
{
	background-color: #CCCCEE;
}
ul.tree li.branch_open > a
{
	padding-left:16px;
	background:url(../Graphics/Icons/windows/16x16/folder_open.png) no-repeat;
}
ul.tree li.branch_open:first-child
{
	/*list-style-image: url(../Graphics/Icons/windows/16x16/folder_open.png)*/
	list-style-image: url(../Graphics/Tree/folderCollapseTop_ico.gif);
}
li.branch_open > ul.tree
{
	display:block;
}

ul.tree li.leaf
{
	/*list-style-image: url(../Graphics/blankdoc_ico.gif)*/
	list-style-image: url(../Graphics/Tree/linkNext_ico.gif);
}
ul.tree li.leaf:last-child
{
	/*list-style-image: url(../Graphics/blankdoc_ico.gif)*/
	list-style-image: url(../Graphics/Tree/linkLast_ico.gif) !important;
}
ul.tree li.leaf > a
{
	padding-left:16px;
	background:url(../Graphics/blankdoc_ico.gif) no-repeat;
}

/* Explorer */
div.explorer_address
{
	background-color: #AAAADD;
	clear:left;
}
div.explorer_address_label
{
	width:50px;
	font:italic 10pt Arial;
	float:left;
	color: #303030;
}
div.explorer_address_text
{
	font: normal 10pt Arial;
	color:#000000;
}
div.explorer_content
{
	clear:right;
	height:400px;
	overflow:auto;
}
div.explorer_tree
{
	color: #FFFFFF;
	background-color: #AAAADD;
	-moz-border-radius: 5px;
	-webkit-border-radius:  5px;
	border: 1px solid #CFCFCF;
	width:250px;
	height:400px;
	float:left;
	overflow:auto;
}
