div.window_gizmo{
 	position:absolute;
 	width:150px;
 	height:200px;
 	overflow:hidden;
 	border:1px solid #505050;
 	background-color:#000000;
 	z-index: 10;
	padding: 0px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px; 	
	-moz-box-shadow: .25em .25em .25em 0em #CFCFCF;
	box-shadow: .25em .25em .25em 0em #CFCFCF;
}

div.window_gizmo_focus{
 	border:1px solid #000000;
}

div.window_gizmo .field_faux_link
{
	text-decoration: underline;
	cursor: pointer;
	color: #0000FF;
	font-weight: bold;
}
div.window_gizmo select
{
	font: normal 8pt Arial;
	margin:0px;
	padding:0px;
}
div.window_gizmo h1
{
	margin:0px;
	padding:0px;
	font: normal 16pt Arial;
	color: #9999FF;
}
div.window_gizmo h2
{
	margin:0px;
	padding:0px;
	font: normal 14pt Arial;
	color: #2B302D;
}
div.window_gizmo h3
{
	margin:0px;
	padding:0px;
	font: normal 12pt Arial;
	color: #9999FF;
}
div.window_gizmo_frame{
 	position:absolute;
 	display:none;
 	top:0px;
 	left:0px;
 	height:50px;
 	width:50px;
 	border: 1px outset #555500;

	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px; 	
	-moz-box-shadow: .25em .25em .25em 0em #CFCFCF;
	box-shadow: .25em .25em .25em 0em #CFCFCF;

}
div.gizmo_screen
{
	border : 0px solid #000000;
   	filter : Alpha(Opacity=50);
	opacity : .50; 
	position : absolute;
	top: 0px;
	left: 0px;
	background-color: #FFFFEE;
	z-index:15;
}
div.window_title{
	height:21px;

	background: #0000FF repeat scroll 0 0 transparent;
	background: linear-gradient(to bottom, #0000FF, #EEEEFF) repeat scroll 0 0 transparent;
	background: -moz-linear-gradient(center top , #0000FF, #EEEEFF) repeat scroll 0 0 transparent;
	background: -webkit-gradient(linear,left top, left bottom, from(#0000FF), to(#EEEEFF)) repeat scroll 0 0 transparent;

	color: #CFCFCF;
	text-shadow: 2px 2px #303030;
	border: 1px solid #2B302D;
	padding-top:0px;
	padding-left: 2px;
	font: normal 12pt Arial;
}
div.window_title_focus{
	color: #FFFFFF;
	background-color: #000099;
	border: 1px outset #2B302D;
}

div.window_status{
	position:absolute;
	bottom:0px;
	height:23px;
	padding-top:1px;
	padding-left: 2px;
	width:100%;
	color: #DDDD00;
	background: #0000FF repeat scroll 0 0 transparent;
	background: linear-gradient(to bottom, #EEEEFF, #0000ff) repeat scroll 0 0 transparent;
	background: -moz-linear-gradient(center top , #EEEEFF, #0000ff) repeat scroll 0 0 transparent;
	background: -webkit-gradient(linear,left top, left bottom, from(#EEEEFF), to(#0000ff)) repeat scroll 0 0 transparent;
	border-top: 1px solid #2B302D;
}
div.window_status_focus{
	color: #FFFF99;
	background-color: #000099;
	border-top: 1px solid #2B302D;
}
div.window_button
{
	padding:0px;
	font:8pt Times;
	text-align:center;
	position:absolute;
	width:21px;
	height:21px;
	border-width:0px;
	overflow:hidden;
}
div.button_resize{
	bottom:0px;
	right:0px;
	cursor:nw-resize;
	background:url(../Graphics/xp_resize_ico.gif) bottom right no-repeat;
}
div.button_close{
	top:0px;
	right:0px;
	background:url(../Graphics/xp_close_ico.gif) #CFCFCF center no-repeat;
}
div.button_minimize{
	top:0px;
	right:42px;
	background:url(../Graphics/xp_min_ico.gif) #CFCFCF center no-repeat;
}
div.button_maximize{
	top:0px;
	right:21px;
	background:url(../Graphics/xp_max_ico.gif) #CFCFCF center no-repeat;
}
div.button_normalize
{
	background:url(../Graphics/xp_norm_ico.gif) #CFCFCF center no-repeat !important;
}
div.window_body{
	overflow:auto;
	background-color:#FFFFFF;
	padding: 0px;
	margin: 0px;
}
div.window_body p{
	/*
	margin:2px;
	margin-bottom:4px;
	padding:0px;
	*/
}
/*
div{
	padding:0px;
	margin:0px;
	font: 10pt Arial;
}
div._spot p{
	font: 8pt Arial;
	margin:0px;
}
*/
div.window_gizmo div.field
{
	width: 500px;
	/*clear:both;*/
	clear:both;
	padding-top: 2px;
	margin-top: 0px;
	margin-bottom:0px;
}
div.window_gizmo div.field_description{
	clear: right;
	padding-left:110px;
	color: #505050;
	font: 8pt Arial;
}

div.window_gizmo div.field_label
{
	width: 100px;
	float:left;
	text-align:right;
	font: 10pt Arial normal;
	color: #ac9162;
}
div.window_gizmo div.required div.field_label
{
	font-weight:bold !important;
	color: #FF0000 !important;
}
div.window_gizmo div.field .field_input
{
	width: 380px;
	float:left;
	margin-left: 5px;
}
div.window_gizmo div.field .field_input p
{
	margin-top:0px;
	margin-bottom:0px;
}
div.window_gizmo div.field .field_input .input_text
{
	width: 280px;
	border: 1px solid #909090;
}
div.window_gizmo div.field .field_input .input_select
{
	border: 1px solid #909090;
}
div.window_gizmo div.field .field_input .input_textarea
{
	width: 280px;
	height:100px;
	overflow:auto;
	border: 1px solid #909090;
}
/* message_field : for use within gizmo templates that expect to resize it */
div.window_gizmo textarea.message_field
{
	width:95%;
	height:200px;
	border: 1px solid #909090;
	overflow:auto;
	font: normal 8pt Courier;
}
