div.grid_item
{
	border: 1px solid #FFFFFF;
	border-bottom: 1px dotted #505050;
	clear:left; /* both */
	margin-top: 2px;
}
div.grid_item_toggle
{
	border: 1px solid #000099;
	border-bottom: 1px solid #0000FF;
	background-color: #CCCCFF;
}
div.grid_item_highlight
{
	border: 1px solid #0000FF;
	background-color: #EEEEFF;
}
.grid_item_title
{
	font: normal 10pt Arial;
	width:150px;
	float:left;
}
.grid_item_date
{
	float:left;
	width: 100px;
	color: #505050;
	font: normal 8pt Times;
}
.grid_item_description
{
	height:16px;
}