
div.tabstrip
{
	/*clear:right;*/
	height:20px;
	border-width: 0px !important;
	/*border-bottom: 2px solid #999900;*/
}
div.tab{
	cursor:pointer;
	font: normal 8pt Arial;
	color: #303030;
	text-align:center;
	border-bottom:2px solid #FFFFFF;
	border-right:2px solid #FFFFFF;
	width:125px;
	height:20px;
	float:left;
	margin-top:2px;
	padding-top:2px;
	background: url(../Graphics/Tab_Corner.gif) #DDDDFF right top no-repeat;
}
div.tab_active
{
	border-bottom: 2px solid #5555FF;
	background-color: #EEEEFF;
	font: bold 10pt Arial;
	color: #000000;
}
div.tab_pane
{
	min-height:100px;
	background-color: #FFFFFF;
	color: #303030;
}
div.tab_pane h3
{
	background-color: #FFFFFF !important;
}
div.step_pane
{
	background-color: #FFFFFF;
	color: #000000;
}
div.stepstrip
{
	/*clear:both;*/
	height:20px;
}
.step
{
	display: block;
	float: left;
	width:18px;
	height:18px;
	border: 1px solid #333300;
	text-align: center;
	font: normal 10pt Arial;
	background-color: #FFFFFF;
	color: #000000;
	cursor:pointer;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
}
.step_active
{
	background-color: #5555FF;
	color: #000000;
}
.step_inactive
{
	background-color: #DDDDFF;
	color: #505050;	
}