.wideselect_container{
	height:200px;
	border:0em solid #555500;
	overflow:auto;
	position:absolute;
	display:none;
	background-color: #FFFFFF;
	margin:0em;
}

.wideselect_item
{
	font: 1em Arial;
	cursor:pointer;
	border:.1em solid #FFFFFF;
	margin:0em;
}
.wideselect_item_blocked{
	background-color:#FFFFFF;
	color:#FFA0A0;
	cursor:pointer;
	border:.1em solid #FFFFFF;
}
.wideselect_item_hover{
	background-color:#EEEEFF;
	color: #333300;
	cursor:pointer;
	border:.1em solid #FFFFFF;
}
.wideselect_item_active{
	background-color:#AAAAFF;
	cursor:pointer;
	border:.1em inset #EEEEFF;
	color: #333300;
}

.wideselect_field{
	position:relative;
	border:.1em solid #000000;
	padding:.2em;
}

.wideselect_field_toggle{
	font: 8pt Arial;
	border:.1em solid #000000;
	padding-left:.2em;
	padding-right:.2em;
	cursor:pointer;
	margin-left:.2em;
	margin-right:0em;
}